/* General */
body {
    margin: 0;
    font-family: "Tahoma", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #004B78;
    color: #222;
    font-weight: 300;
    font-size: 11px;
    min-width: 100vh;
}
* {
    box-sizing: border-box;
}
section {
    max-width: 960px;
    margin: auto;
    background-color: white;
    position: relative;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.table-head {
    font-weight: bold;
    background: #efefef;
    border-top: 2px solid #3d699b;
    color: #333;
    line-height: 24px;
    padding: 0 7px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.column {
    display: flex;
    flex-direction: column;
}
/* Color Pallete */
.red {
    color: #F00;
}
.white {
    color: #FFF;
}
.black {
    color: black !important;
}
.dark-red-hover a:hover {
    color: #D00909;
    text-decoration: underline;
}
.green {
    color: #349F00 !important;
}
.blue {
    color: blue !important;
}
.yellow {
    color: #ff0;
}
.dark-orange-background {
    background-color: #ff6600;
}
.orange-background {
    background-color: #FCEAAB !important;
}
.blue-background {
    background-color: #0b79c9;
}
.gray-background {
    background-color: #f3f3f3;
}
.light-red-background {
    background-color: #FFF7E1;
}
.light-orange-background {
    background-color: #FFFFD0;
}
.light-blue-background {
    background-color: #F0F0FF;
}
.row-light-blue-background {
    background-color: #ECFBFB;
}
.row-blue-background {
    background-color: #0066FF;
}
.row-green-background {
    background-color: #349F00;
}
.red-background {
    background-color: red !important;
    color: white
}
.dark-green-background {
    background: rgb(58, 92, 27);
    color: white;
}

/* Heading */
h1 {
    margin: 0;
}

/* Header */
header {
    font-weight: bold;
}
.header-link, header h1 {
    color: white;
}
.header-top , .header-link {
    background-color: #3c78c6;
}
.header-top {
    padding: 10px 20px;
    color: #DEF0FA;
    font-size: 13px;
}
.header-link {
    display: flex;
    justify-content: flex-start;
}
.header-link a {
    line-height: 40px;
    font-size: 15px;
    padding: 0 25px;
}
.header-bottom {
    border-bottom: 5px solid #004B78;
}
.header-bottom a {
    line-height: 30px;
    font-size: 14px;
    padding: 0 11px;
}
.header-bottom .current {
    color: #D00909;
}
.header-link .current {
    background-color: white;
    color: black;
}
.header-link a:hover {
    color: #fffc00;
}

/* Index */
#index .content-row img {
    height: unset;
    margin: 0;
}
#index .content-row * {
    border: none;
}
#index .content-head {
    font-size: inherit;
}
#index section {
    padding: 5px;
}
#index .header-bottom {
    border: solid 1px #e4e4e4;
    border-radius: 0 0 4px 4px;
}
#index header {
    font-weight: normal;
}
body#index {
    background-color: #dadada;   
}
#index .header-top {
    background-color: #3c78bd;
}
#index .header-link {
    background-color: #346bab;
}
#main {
    display: flex;
    margin-top: 5px;
}
#main-left, #main-right {
    flex: 1;
}
#index .header-link .current {
    color: #fffc00;
    background-color: transparent;
}
#index .header-link {
    justify-content: space-around;
}
#index .header-link a {
    padding: 0;
}
#index .content-nav {
    padding: 5px;
    border: none;
    margin-bottom: 0;
}
#index .content-nav a {
    line-height: 20px;
    min-width: unset;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 2px;
}
#index .content-row {
    font-size: inherit;
}

/* Main-Left */
#main-left {
    border: solid 1px #e4e4e4;
}
#main-left img {
    height: 18px;
    width: 18px;
    border: solid 1px #a9a9a9;
    margin-right: 3px;
}
.main-left-content > a {
    background-color: #F9F9F9;
    border-bottom: 1px solid #D7D7D7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3px;
    color: #425B7E;
}
.main-left-content > a > span {
    display: flex;
    align-items: flex-end;
}

.main-left-content > a:hover {
    color: #C60;
    background-color: #F9D35D;
}

/* Main-Center */
#main-center {
    flex: 5;
    margin: 0 5px;
}
.content-nav {
    border-bottom: solid 2px #3c78bd;
    margin-bottom: 3px;
}
.content-nav a {
    display: inline-block;
    padding: 0 2px;
    line-height: 28px;
    border: solid 1px #ccc;
    border-radius: 2px 2px 0 0;
    min-width: 90px;
    margin: 0 2px;
    text-align: center;
}
.content-nav .current {
    background-color: #3c78bd;
    color: white;
    border: none;
    border: solid 1px #3c78bd;
}
.content-head {
    display: flex;
    border-bottom: 1px solid #cccccc;
    color: #FFF;
    background-color: #5885B7;
    font-weight: bold;
    line-height: 26px;
    justify-content: center;
    font-size: 14px;
    padding: 0 10px;
}
.content-head > div {
    text-align: center;
}
.column-0 {
    flex: 3;
}
.column-league {
    flex: 8;
    height: 26px;
    color: white;
}
.column-time {
    flex: 5;
}
.column-status {
    flex: 6;
}
.column-home {
    flex: 24;
    text-align: right;
}
.column-score {
    flex: 8;
}
.column-away {
    flex: 24;
    text-align: left;
}
.column-cht {
    flex: 7;
}
.column-data {
    flex: 15;
}
/* Main right */
.search input {
    outline: none;
    border: none;
}
.search input:focus {
    outline: none;
    border: none;
}
.search {
    display: flex;
    border: solid 1px #bbb;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
    align-items: flex-start;
}
.font span {
    background: url("../static/background/gray.gif") repeat-x;
    border: 1px solid #D1D1D1;
    margin-right: 7px;
    display: block;
    float: left;
    padding-right: 4px;
    padding-left: 4px;
}
.font {
    align-items: end;
    margin-top: 2px;
}
.font-small {
    font-size: 12px;
    margin-left: 2px;
}
.font-big {
    font-size: 14px;
}
#main-right select {
    margin-left: 2px;
    width: 85px;
    height: 20px;
    font-size: 11px;
    margin-top: 1px;
}
.select-sound span {
    line-height: 20px;
    width: 40px;
    display: inline-block;
}
#main-right input[type="checkbox"] {
    margin: -2px 5px 0 0;
    vertical-align: middle;
}
/* Detail */
.content-top {
    display: flex;
    padding: 18.5px 43.5px;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}
.content-top img {
    height: 80px;
    width: 80px;
}
.content-top > .center {
    flex-direction: column;
}
.content-top .red {
    font-size: 14px;
}
.content-top .blue {
    font-size: 18px;
}
.content-top .number .red {
    font-size: 24px;
    line-height: 40px;
}
.content-top .number {
    width: 60px;
}
.content-row {
    display: flex;
    font-size: 12px;
}
.column-0-5 {
    flex: 0.5 ;
}
.column-1 {
    flex: 1 ;
}
.column-1-5 {
    flex: 1.5;
}
.column-2 {
    flex: 2 !important;
}
.column-3 {
    flex: 3;
}
.column-3-5 {
    flex: 3.5;
}
.column-4 {
    flex: 4;
}
.column-5 {
    flex: 5;
}
.column-6 {
    flex: 6;
}
.content-row div {
    border-right: 1px solid #d8e0e7;
    border-bottom: 1px solid #d8e0e7;
}
div.row-container {
    border: none !important;
}
.no-border-bottom {
    border-bottom: none !important;
}
div.row-distribute {
    display: flex;
    border: none !important;
}
.row-distribute > div {
    flex: 1;
}
.row-double {
    line-height: 40px;
}
.row-triple {
    line-height: 60px;
}
.row-4 {
    line-height: 80px;
}
.row-5 {
    line-height: 100px;
}
.row-11 {
    line-height: 220px;
}
div.column-distribute {
    display: flex;
    border: none !important;
    flex-direction: column;
}
.column-distribute > div {
    flex: 1;
}
.content-data {
    line-height: 20px;
}
.content-data span {
    height: 15px;
    width: 15px;
    border: 1px solid #d8e0e7;
    margin: 0 4px;
}
.content-row img {
    height: 19px;
    margin-bottom: -6px;
    margin-right: 3px;
}

/* Soccer Match */
.soccer-match {
    padding: 20px;
}
.soccer-match div {
    border: none;
}
.soccer-match .content-row > div > div {
    margin: 3px 8px;
}

/* Legend */
#legend {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 50px;
}
#legend > div {
    display: flex;
    align-items: center;
    padding: 5px;
}
#legend img {
    margin: 0 2px;
}
.content-row .dark-orange-background {
    display: block;
    float: right;
}
.content-row .blue-background {
    display: block;
}
.content-data {
    margin-bottom: 10px;
}

/* Odds Comp */
.odds-light-blue-background {
    background-color: #E0E9F6;
    color: black;
}
#odds-comp .content-row div {
    border-right: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
}
.up {
    background: url('../static/over-under/up.png') no-repeat 55px 4px;
}
.down {
    background: url('../static/over-under/down.png') no-repeat 55px 4px;
}
#odds-comp .content-data a {
    padding: 4px 10px;
    border-radius: 4px;
    margin-left: 5px;
    background-color: #2798f9;
    color: #FFF;
}
#odds-comp .content-row img {
    height: 9px;
    margin: 0 5px;
}

/* Player stats */
#player-stats .content-head {
    justify-content: space-between;
}
#player-stats .content-head span {
    border-radius: 4px;
    color: #333;
    padding: 4px 10px;
    margin: 0 10px;
}

/* Analysis */
#mpre img {
    position: relative;
    top: -12px;
    left: 375px;
}
#mpre {
    justify-content: space-between;
    padding: 0 10px;
}
#current-season img {
    height: 14px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

/* 3 In 1 */
.content-filter > * {
    border-right: solid 1px #cccccc;
    min-width: 48px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    padding: 0 2px 0 1px;
}
.content-filter {
    border: solid 1px #cccccc;
    margin: 5px;
    border-radius: 4px;
    display: inline-block;
}
.content-filter input {
    min-width: unset;
}
.content-filter .current {
    color: white;
    background: #3473c7 !important;
}
.main-content > div{
    margin-left: 2.5px;
}
#three-in-one .up {
    background: url('../static/over-under/up.png') no-repeat 35px 14px;
    color: red;
}
#three-in-one .down {
    background: url('../static/over-under/down.png') no-repeat 35px 14px;
    color: green;
}

/* Referee */
.main-content-row-distribute .column-1 .content-row div {
    padding: 0 5px;
}
.main-content-row-distribute {
    align-items: unset;
}
.content-filter > *{
    min-width: unset;
    padding: 0 5px;
    border: 1px solid #3473c7;
    background: #F2FBFF;
}
.content-filter {
    border: 1px solid #3473c7;
    background: #3473c7;
}
#referee .content-data span {
    border: none;
    margin: unset;
}
.win-rate > div {
    height: 18px;
    padding: 1px;
}

/* Live commentary */
h1 {
    font-family: 'Times New Roman', Times, serif;
}
.section {
    padding: 15px;
}
#live-comment .section {
    height: 100vh;
    overflow: scroll;
}

/* Coaach */

/* 1x2 */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 960px;
    background-color: white;
}

/* Floating Navbar */
.navbar-floating {
    position: absolute;
    left: 965px;
    display: flex;
    flex-direction: column;
}
.navbar-floating a {
    background-color: blue;
    color: white;
    text-align: center;
    margin: 2px 0;
    padding: 4px;
}
.navbar-floating a:hover {
    background-color: red;
    text-decoration: underline;
}

/* Analysis Setting */

#analysis-setting {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
}
#analysis-setting > div {
    width: 700px;
    background-color: white;
    outline: 2px solid #5885B7;
}
#analysis-setting .content-head {
    justify-content: space-between;
}
#analysis-setting .content-body {
    display: flex;
}
#analysis-setting .content-body  > div { 
    margin: 10px;
    flex: 1;
    outline: 2px solid #5885B7;
    height: 400px;
}
.content-analysis > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px dashed gray;
}
.button span {
    margin: 10px;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 3px;
}