<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="one-x-two">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div class="content-top">
                <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                <div class="center">
                    <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                    <div class="center">
                        <span><b class="blue">Liverpool</b></span>
                        <span class="number"><b class="red">4</b></span>
                        <span class="column">
                            <span><b class="red">Finished</b></span>
                            <span class="red">(4-0,0-1)</span>
                        </span>
                        <span class="number"><b class="red">1</b></span>
                        <span><b class="blue">Norwich City</b></span>
                    </div>
                    <div>
                        Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                    </div>
                </div>
                <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
            </div>
            <div class="content-nav">
                <a href="detail.html">Detail</a>
                <a href="analysis.html">Analysis</a>
                <a href="odds-comp.html">Odds Comp</a>
                <a href="3in1.html">3in1 Odds</a>
                <a href="1x2.html" class="current">1x2 Odds</a>
                <a href="referee.html">Referee</a>
                <a href="coach.html">Coach</a>
                <a href="live-commentary.html">Live Commentary</a>
                <a href="player-stats.html">Player Stats</a>
            </div>

            <div class="content-filter">
                <a class="current">New Version</a>
                <a>Old Version</a>
            </div>
            <div class="content-filter">
                <a>Select customized</a>
            </div>
            <div class="content-filter">
                <a>Hide</a>
            </div>
            <div class="content-filter">
                <a>Select</a>
            </div>
            <div class="content-filter">
                <a>
                    <select>
                        <option>Live</option>
                    </select>
                </a>
            </div>
            <div class="content-filter">
                <a>Filter</a>
            </div>
            <div class="content-filter">
                <a>Export to Excel</a>
            </div>
            <span>
                Total[<b>203</b>/203] Bookmakers
            </span>
     
            <div class="content-data">
                <div class="content-row center odds-light-blue-background">
                    <div class="column-0-5">
                        <input type="checkbox">
                    </div>
                    <div class="column-3">
                        <select>
                            <option>Bookmakers</option>
                        </select>
                    </div>
                    <div class="column-1">H W</div>
                    <div class="column-1">D W</div>
                    <div class="column-1">A W</div>
                    <div class="column-1">H W R%</div>
                    <div class="column-1">D R%</div>
                    <div class="column-1">A W R%</div>
                    <div class="column-1">Return%</div>
                    <div class="column-2">Kelly Criterion</div>
                    <div class="column-3">Last Change</div>
                </div>
                <div class="content-row center">
                    <div class="column-0-5">
                        <input type="checkbox">
                    </div>
                    <div class="column-3">
                        <a>Bet 365</a>
                    </div>
                    <div class="column-1">1.14</div>
                    <div class="column-1"><b class="red">9.50</b></div>
                    <div class="column-1"><b class="green">21.00</b></div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-2 row-distribute">    
                        <div>1.14</div>
                        <div><b class="red">9.50</b></div>
                        <div><b class="red">21.00</b></div>
                    </div>
                    <div class="column-3">08-10 02.00</div>
                </div>
                <div class="content-row center gray-background">
                    <div class="column-0-5">
                        <input type="checkbox">
                    </div>
                    <div class="column-3">
                        <a>Bet 365</a>
                    </div>
                    <div class="column-1">1.14</div>
                    <div class="column-1"><b class="red">9.50</b></div>
                    <div class="column-1"><b class="green">21.00</b></div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-2 row-distribute">    
                        <div>1.14</div>
                        <div><b class="red">9.50</b></div>
                        <div><b class="red">21.00</b></div>
                    </div>
                    <div class="column-3">08-10 02.00</div>
                </div>
            </div>
            <div class="content-data fixed-bottom">
                <div class="content-row center odds-light-blue-background">
                    <div class="column-3-5">&nbsp;</div>
                    <div class="column-1">H W</div>
                    <div class="column-1">D W</div>
                    <div class="column-1">A W</div>
                    <div class="column-1">H W R%</div>
                    <div class="column-1">D R%</div>
                    <div class="column-1">A W R%</div>
                    <div class="column-1">Return%</div>
                    <div class="column-2">Kelly Criterion</div>
                    <div class="column-3">Last Change</div>
                </div>
                <div class="content-row center">
                    <div class="column-3-5 gray-background">
                        The highest first odds
                    </div>
                    <div class="column-1">1.14</div>
                    <div class="column-1"><b class="red">9.50</b></div>
                    <div class="column-1"><b class="green">21.00</b></div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-1">85.16</div>
                    <div class="column-2 row-distribute">    
                        <div>1.14</div>
                        <div><b class="red">9.50</b></div>
                        <div><b class="red">21.00</b></div>
                    </div>
                    <div class="column-3">08-10 02.00</div>
                </div>
            </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>