<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="player-stats">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div class="content-top">
                <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                <div class="center">
                    <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                    <div class="center">
                        <span><b class="blue">Liverpool</b></span>
                        <span class="number"><b class="red">4</b></span>
                        <span class="column">
                            <span><b class="red">Finished</b></span>
                            <span class="red">(4-0,0-1)</span>
                        </span>
                        <span class="number"><b class="red">1</b></span>
                        <span><b class="blue">Norwich City</b></span>
                    </div>
                    <div>
                        Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                    </div>
                </div>
                <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
            </div>
            <div class="content-nav">
                <a>Detail</a>
                <a>Analysis</a>
                <a>Odds Comp</a>
                <a>3in1 Odds</a>
                <a>1x2 Odds</a>
                <a>Referee</a>
                <a>Coach</a>
                <a>Live Commentary</a>
                <a class="current">Player Stats</a>
            </div>
            
            <!-- Liverpool -->
            <div class="content-head">
                Liverpool
                <div>
                    <span class="orange-background">Summary</span>
                    <span>Offensive</span>
                    <span>Defensive</span>
                    <span>Passing</span>
                </div>
            </div>
            <div class="content-data">
            </div>
        </section>
        <!-- Script -->
        <script src="js/script.js"></script>
    </body>
</html>