<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="three-in-one">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div>
                <div class="content-top">
                    <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                    <div class="center">
                        <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                        <div class="center">
                            <span><b class="blue">Liverpool</b></span>
                            <span class="number"><b class="red">4</b></span>
                            <span class="column">
                                <span><b class="red">Finished</b></span>
                                <span class="red">(4-0,0-1)</span>
                            </span>
                            <span class="number"><b class="red">1</b></span>
                            <span><b class="blue">Norwich City</b></span>
                        </div>
                        <div>
                            Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                        </div>
                    </div>
                    <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
                </div>
                <div class="content-nav">
                    <a href="detail.html">Detail</a>
                    <a href="analysis.html">Analysis</a>
                    <a href="odds-comp.html">Odds Comp</a>
                    <a href="3in1.html" class="current">3in1 Odds</a>
                    <a href="1x2.html">1x2 Odds</a>
                    <a href="referee.html">Referee</a>
                    <a href="coach.html">Coach</a>
                    <a href="live-commentary.html">Live Commentary</a>
                    <a href="player-stats.html">Player Stats</a>
                </div>
                
                <div class="content-filter">
                   <a class="current">Crown</a>
                   <a>12BET</a>
                   <a>Sbobet</a>
                   <a>Macauslot</a>
                   <a>Ladbrokers</a>
                   <a>Bet365</a>
                   <a>Easybet</a>
                   <a>Vcbet</a>
                   <a>M88</a>
                   <a>188bet</a>
                   <a>Willhil</a>
                   <a>SNAI</a>
                   <a>Interwetten</a>
                   <a>18Bet</a>
                </div>

                <div class="content-filter">
                    <a class="current">FT</a>
                    <a>HT</a>
                </div>

                <div class="content-filter">
                    <input type="checkbox"><span>Refresh</span>
                </div>

                <div class="main-content row-distribute">
                    <div class="content-data">
                        <div class="content-row center gray-background">
                            Sbobet 1X2 Odds
                        </div>
                        <div class="content-row center row-blue-background row-distribute white">
                            <div>Time</div>
                            <div>Score</div>
                            <div>Over</div>
                            <div>O/U</div>
                            <div>Under</div>
                            <div>Update</div>
                            <div>Status</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">90</div>
                            <div class="row-double">4-1</div>
                            <div class="row-double">&nbsp;</div>
                            <div class="row-double green">Closed</div>
                            <div class="row-double">&nbsp;</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">18</div>
                            <div class="row-double">1-1</div>
                            <div class="row-double up">1.04</div>
                            <div class="row-double">14.00</div>
                            <div class="row-double">50.00</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                    </div>
                    <div class="content-data">
                        <div class="content-row center gray-background">
                            Sbobet Handicap Odds
                        </div>
                        <div class="content-row center row-blue-background row-distribute white">
                            <div>Time</div>
                            <div>Score</div>
                            <div>Over</div>
                            <div>O/U</div>
                            <div>Under</div>
                            <div>Update</div>
                            <div>Status</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">90</div>
                            <div class="row-double">4-1</div>
                            <div class="row-double">&nbsp;</div>
                            <div class="row-double green">Closed</div>
                            <div class="row-double">&nbsp;</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">18</div>
                            <div class="row-double">1-1</div>
                            <div class="row-double up">1.04</div>
                            <div class="row-double">14.00</div>
                            <div class="row-double">50.00</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                    </div>
                    <div class="content-data">
                        <div class="content-row center gray-background">
                            Sbobet Over/Under Odds
                        </div>
                        <div class="content-row center row-blue-background row-distribute white">
                            <div>Time</div>
                            <div>Score</div>
                            <div>Over</div>
                            <div>O/U</div>
                            <div>Under</div>
                            <div>Update</div>
                            <div>Status</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">90</div>
                            <div class="row-double">4-1</div>
                            <div class="row-double">&nbsp;</div>
                            <div class="row-double green">Closed</div>
                            <div class="row-double">&nbsp;</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                        <div class="content-row center row-distribute">
                            <div class="row-double">18</div>
                            <div class="row-double">1-1</div>
                            <div class="row-double up">1.04</div>
                            <div class="row-double">14.00</div>
                            <div class="row-double">50.00</div>
                            <div>
                                <div class="no-border-bottom">08-10</div>
                                <div>03:54</div>
                            </div>
                            <div class="blue-background white row-double row-container">Run</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>