<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="coach">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div class="content-top">
                <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                <div class="center">
                    <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                    <div class="center">
                        <span><b class="blue">Liverpool</b></span>
                        <span class="number"><b class="red">4</b></span>
                        <span class="column">
                            <span><b class="red">Finished</b></span>
                            <span class="red">(4-0,0-1)</span>
                        </span>
                        <span class="number"><b class="red">1</b></span>
                        <span><b class="blue">Norwich City</b></span>
                    </div>
                    <div>
                        Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                    </div>
                </div>
                <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
            </div>
            <div class="content-nav">
                <a href="detail.html">Detail</a>
                <a href="analysis.html">Analysis</a>
                <a href="odds-comp.html">Odds Comp</a>
                <a href="3in1.html">3in1 Odds</a>
                <a href="1x2.html">1x2 Odds</a>
                <a href="referee.html">Referee</a>
                <a href="coach.html" class="current">Coach</a>
                <a href="live-commentary.html">Live Commentary</a>
                <a href="player-stats.html">Player Stats</a>
            </div>
            
            <div class="main-content-row-distribute center">
                <div class="column-1">
                    <!-- Jurgen Kloop -->
                    <div class="content-head yellow">
                        Jurgen Kloop
                    </div>
                    <div>
                        <img src="../static/photo/michael.jpg">
                    </div>
                    <div class="content-data">
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Name</div>
                            <div class="column-2 left">Michael Oliver</div>
                        </div>
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Birthday</div>
                            <div class="column-2 left">1985-02-20</div>
                        </div>
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Country</div>
                            <div class="column-2 left">England</div>
                        </div>
                        <div class="content-row double-row">
                            <div class="column-1 right odds-light-blue-background">Coaching Staff</div>
                            <div class="column-2 left">3</div>
                        </div>
                    </div>
                </div>
                <div class="column-4">
                    <!-- Head to Head Statistics Last Matches -->
                    <div class="content-head center">
                        Head to Head Statistics Last 
                        <select>
                            <option value="1">1</option>
                        </select>
                        Matches
                    </div>
                    <div class="content-filter">
                        <a class="current">All</a>
                        <a>ENG PR</a>
                    </div>
                    <div class="content-data">
                        <div class="content-row center orange-background">
                            <div class="column-1">League</div>
                            <div class="column-1-5">Date</div>
                            <div class="column-5">VS</div>
                            <div class="column-1">Score</div>
                            <div class="column-1-5">Handicap/O/U</div>
                        </div>
                        <div class="content-row center">
                            <div class="column-1 red-background ">ENG PR</div>
                            <div class="column-1-5">2019-08-10</div>
                            <div class="column-5">
                                <b class="blue">Liverpool</b> VS Norwich City
                            </div>
                            <div class="column-1">4-1 (4-0)</div>
                            <div class="column-1-5">
                                <font color="red">W</font>2
                                <font color="red">O</font>3.25
                            </div>
                        </div>
                        <div class="content-row center">
                            Last &nbsp;<font color="red">1</font>&nbsp; matches, 
                            <span class="white-background"></span> Jurgen Klopp
                            <font color="red">1</font> win
                            <span class="white-background"></span>
                            <font color="red">1</font> draw
                            <span class="white-background"></span>
                            <font color="red">1</font> loss
                            <span class="white-background"></span> win rate
                            <font color="red">80%</font> &nbsp;
                            <span class="white-background"></span>
                            Odds win rate：
                            <font color="red">100%</font> &nbsp;
                            <span class="white-background"></span>
                            over rate
                            <font color="red">100%</font> &nbsp;
                            <span class="white-background"></span>
                        </div>
                    </div>
                </div>
                <div class="column-1">
                    <!-- Daniel Farke -->
                    <div class="content-head yellow">
                        Daniel Farke
                    </div>
                    <div>
                        <img src="../static/photo/michael.jpg">
                    </div>
                    <div class="content-data">
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Name</div>
                            <div class="column-2 left">Michael Oliver</div>
                        </div>
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Birthday</div>
                            <div class="column-2 left">1985-02-20</div>
                        </div>
                        <div class="content-row">
                            <div class="column-1 right odds-light-blue-background">Country</div>
                            <div class="column-2 left">England</div>
                        </div>
                        <div class="content-row double-row">
                            <div class="column-1 right odds-light-blue-background">Coaching Staff</div>
                            <div class="column-2 left">3</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Jurgen Klopp vs Norwich City -->
            <div class="content-head">
                <font color="yellow">Jurgen Klopp </font>
                vs Norwich City Last 
                <select>
                    <option value="1">1</option>
                </select>
                Matches
            </div>
            <div class="center">
                <div class="content-filter">
                    <a class="current">All</a>
                    <a>ENG PR</a>
                </div>
                <div class="content-filter">
                    <a>ENG PR</a>
                </div>
            </div>
            <div class="content-data">
                <div class="content-row center orange-background">
                    <div class="column-1">League</div>
                    <div class="column-1-5">Date</div>
                    <div class="column-5">VS</div>
                    <div class="column-1">Score</div>
                    <div class="column-1-5">Handicap/O/U</div>
                </div>
                <div class="content-row center">
                    <div class="column-1 red-background ">ENG PR</div>
                    <div class="column-1-5">2019-08-10</div>
                    <div class="column-5">
                        <b class="blue">Liverpool</b> VS Norwich City
                    </div>
                    <div class="column-1">4-1 (4-0)</div>
                    <div class="column-1-5">
                        <font color="red">W</font>2
                        <font color="red">O</font>3.25
                    </div>
                </div>
                <div class="content-row center">
                    Last &nbsp;<font color="red">1</font>&nbsp; matches, 
                    <span class="white-background"></span> Jurgen Klopp
                    <font color="red">1</font> win
                    <span class="white-background"></span>
                    <font color="red">1</font> draw
                    <span class="white-background"></span>
                    <font color="red">1</font> loss
                    <span class="white-background"></span> win rate
                    <font color="red">80%</font> &nbsp;
                    <span class="white-background"></span>
                    Odds win rate：
                    <font color="red">100%</font> &nbsp;
                    <span class="white-background"></span>
                    over rate
                    <font color="red">100%</font> &nbsp;
                    <span class="white-background"></span>
                </div>
            </div>

            <!-- Daniel Farke vs Norwich City -->
            <div class="content-head">
                <font color="yellow">Daniel Farke </font>
                vs Norwich City Last 
                <select>
                    <option value="1">1</option>
                </select>
                Matches
            </div>
            <div class="center">
                <div class="content-filter">
                    <a class="current">All</a>
                    <a>ENG PR</a>
                </div>
                <div class="content-filter">
                    <a>ENG PR</a>
                </div>
            </div>
            <div class="content-data">
                <div class="content-row center orange-background">
                    <div class="column-1">League</div>
                    <div class="column-1-5">Date</div>
                    <div class="column-5">VS</div>
                    <div class="column-1">Score</div>
                    <div class="column-1-5">Handicap/O/U</div>
                </div>
                <div class="content-row center">
                    <div class="column-1 red-background ">ENG PR</div>
                    <div class="column-1-5">2019-08-10</div>
                    <div class="column-5">
                        <b class="blue">Liverpool</b> VS Norwich City
                    </div>
                    <div class="column-1">4-1 (4-0)</div>
                    <div class="column-1-5">
                        <font color="red">W</font>2
                        <font color="red">O</font>3.25
                    </div>
                </div>
                <div class="content-row center">
                    Last &nbsp;<font color="red">1</font>&nbsp; matches, 
                    <span class="white-background"></span> Jurgen Klopp
                    <font color="red">1</font> win
                    <span class="white-background"></span>
                    <font color="red">1</font> draw
                    <span class="white-background"></span>
                    <font color="red">1</font> loss
                    <span class="white-background"></span> win rate
                    <font color="red">80%</font> &nbsp;
                    <span class="white-background"></span>
                    Odds win rate：
                    <font color="red">100%</font> &nbsp;
                    <span class="white-background"></span>
                    over rate
                    <font color="red">100%</font> &nbsp;
                    <span class="white-background"></span>
                </div>
            </div>

            <div class="main-content-row-distribute row-distribute">
                <div>
                    <div class="content-head">
                        <a class="yellow">Jurgen Klopp</a>
                        Coaching Statistics
                    </div>
                    <div>
                        Last 2 games with Norwich City, 2 win, 0 draw, 0 loss, including 2 win, 0 draw, 0 loss in ENG PR games. 0 Over Goals, 2 Under goals
                    </div>
                </div>
                <div>
                    <div class="content-head">
                        <a class="yellow">Jurgen Klopp</a>
                        Coaching Statistics
                    </div>
                    <div>
                        Last 2 games with Norwich City, 2 win, 0 draw, 0 loss, including 2 win, 0 draw, 0 loss in ENG PR games. 0 Over Goals, 2 Under goals
                    </div>
                </div>
            </div>

            <div class="main-content-row-distribute row-distribute">
                <div>
                    <div class="content-head">
                        <a class="yellow">Jurgen Klopp</a>
                        Coaching Achievement
                        <select>
                            <option>All</option>
                        </select>
                    </div>
                    <div>
                        <div class="content-data">
                            <div class="content-row center row-distribute orange-background">
                                <div>League</div>
                                <div>Games</div>
                                <div class="column-1-5">Achievement</div>
                                <div>WR%</div>
                                <div>Get</div>
                                <div>Miss</div>
                                <div>Avg Get</div>
                            </div>
                            <div class="content-row center row-distribute">
                                <div class="red-background">GER D1</div>
                                <div>340</div>
                                <div class="column-1-5">162W8D94L</div>
                                <div>48%</div>
                                <div>599</div>
                                <div>407</div>
                                <div>1.68</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="content-head">
                        <a class="yellow">Jurgen Klopp</a>
                        Coaching Achievement
                        <select>
                            <option>All</option>
                        </select>
                    </div>
                    <div>
                        <div class="content-data">
                            <div class="content-row center row-distribute orange-background">
                                <div>League</div>
                                <div>Games</div>
                                <div class="column-1-5">Achievement</div>
                                <div>WR%</div>
                                <div>Get</div>
                                <div>Miss</div>
                                <div>Avg Get</div>
                            </div>
                            <div class="content-row center row-distribute orange-background">
                                <div class="red-background">GER D1</div>
                                <div>340</div>
                                <div class="column-1-5">162W8D94L</div>
                                <div>48%</div>
                                <div>599</div>
                                <div>407</div>
                                <div>1.68</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>