<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="detail">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a> Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div>
                <div class="content-top">
                    <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                    <div class="center">
                        <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                        <div class="center">
                            <span><b class="blue">Liverpool</b></span>
                            <span class="number"><b class="red">4</b></span>
                            <span class="column">
                                <span><b class="red">Finished</b></span>
                                <span class="red">(4-0,0-1)</span>
                            </span>
                            <span class="number"><b class="red">1</b></span>
                            <span><b class="blue">Norwich City</b></span>
                        </div>
                        <div>
                            Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                        </div>
                    </div>
                    <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
                </div>
                <div class="content-nav">
                    <a href="detail.html" class="current">Detail</a>
                    <a href="analysis.html">Analysis</a>
                    <a href="odds-comp.html">Odds Comp</a>
                    <a href="3in1.html">3in1 Odds</a>
                    <a href="1x2.html">1x2 Odds</a>
                    <a href="referee.html">Referee</a>
                    <a href="coach.html">Coach</a>
                    <a href="live-commentary.html">Live Commentary</a>
                    <a href="player-stats.html">Player Stats</a>
                </div>

                <!-- Live Odds Table -->
                <div class="content-head">
                    Live Odds Analysis
                </div>
                <div class="content-data">
                    <!-- First Row -->
                    <div class="content-row center">
                        <div class="column-1 row-double light-blue-background">Time</div>
                        <div class="column-1 row-double light-blue-background">Score</div>
                        <div class="column-1 row-double light-blue-background">F/H</div>
                        <div class="column-6 row-container">
                            <div class="orange-background"><b>Handicap</b></div>
                            <div class="row-distribute">
                                <div>First Odds</div>
                                <div class="light-orange-background">Live Odds</div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="orange-background"><b>Over/Under</b></div>
                            <div class="row-distribute">
                                <div>First Odds</div>
                                <div class="light-orange-background">Live Odds</div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="orange-background"><b>1x2</b></div>
                            <div class="row-distribute">
                                <div>First Odds</div>
                                <div class="light-orange-background">Live Odds</div>
                            </div>
                        </div>
                    </div>

                    <!-- Data Row -->
                    <div class="content-row center">
                        <div class="column-1 row-double row-green-background">Early</div>
                        <div class="column-1 row-double">&nbsp;</div>
                        <div class="column-1 row-container">
                            <div>HT</div>
                            <div>HT</div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-light-blue-background">1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-row center">
                            <div class="column-1 row-double row-red-background">Early</div>
                            <div class="column-1 row-double">&nbsp;</div>
                            <div class="column-1 row-container">
                                <div>HT</div>
                                <div>HT</div>
                            </div>
                            <div class="column-6 row-container">
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div class="row-light-blue-background">1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-6 row-container">
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-6 row-container">
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                    <div class="row-distribute">
                                        <div>1.11</div>
                                        <div>1</div>
                                        <div>0.78</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="content-row center">
                        <div class="column-1 row-double row-green-background">Early</div>
                        <div class="column-1 row-double">&nbsp;</div>
                        <div class="column-1 row-container">
                            <div>HT</div>
                            <div>HT</div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-light-blue-background">1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-row center">
                        <div class="column-1 row-double row-blue-background">Early</div>
                        <div class="column-1 row-double">&nbsp;</div>
                        <div class="column-1 row-container">
                            <div>HT</div>
                            <div>HT</div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div class="row-light-blue-background">1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                        </div>
                        <div class="column-6 row-container">
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                            </div>
                            <div class="row-distribute">
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div>0.78</div>
                                </div>
                                <div class="row-distribute">
                                    <div>1.11</div>
                                    <div>1</div>
                                    <div class="light-orange-background">0.78</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Last Row -->
                    <div class="content-row row-distribute">
                        <div class="center">
                            Note <span class="row-light-blue-background"></span>: History Data,&nbsp;
                            <span class="light-orange-background"></span>: Latest Data.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Corner Odds Table -->
            <div class="content-head">
                365 Corner Odds
            </div>
            <div class="content-data">
                <div class="content-row center orange-background">
                    <b>Handicap</b>
                </div>
                <div class="content-row center row-distribute">
                    <div class="row-distribute">
                        <div class="light-blue-background">Early</div>
                        <div>0.85</div>
                        <div>4.5</div>
                        <div>0.95</div>
                        <div><a>Detail</a></div>
                    </div>
                    <div class="row-distribute">
                        <div class="light-blue-background">Early</div>
                        <div>0.85</div>
                        <div>4.5</div>
                        <div>0.95</div>
                        <div><a>Detail</a></div>
                    </div>
                </div>

                <div class="content-row center orange-background">
                        <b>Over/Uner</b>
                    </div>
                    <div class="content-row center row-distribute">
                        <div class="row-distribute">
                            <div class="light-blue-background">Early</div>
                            <div>0.85</div>
                            <div>4.5</div>
                            <div>0.95</div>
                            <div><a>Detail</a></div>
                        </div>
                        <div class="row-distribute">
                            <div class="light-blue-background">Early</div>
                            <div>0.85</div>
                            <div>4.5</div>
                            <div>0.95</div>
                            <div><a>Detail</a></div>
                        </div>
                    </div>
            </div>

            <!-- Key Events Table -->
            <div class="content-head">
                    Key Events
                </div>
                <div class="content-data">
                    <div class="content-row center orange-background">
                        <div class="column-6">4</div>
                        <div class="column-1">Min</div>
                        <div class="column-6">1</div>
                    </div>
                    <div class="content-row center">
                        <div class="column-6 row-container center">
                            <div class="column-6">Grant Hasley</div>
                            <div class="column-1"><img src="../static/icon/event/own-goal.png" alt="red-ball"></div>
                        </div>
                        <div class="column-1">7'</div>
                        <div class="column-6 row-container center">
                            <div class="column-1">&nbsp;</div>
                            <div class="column-6">&nbsp;</div>
                        </div>
                    </div>
                    <div class="content-row center">
                        <div class="column-6 row-container center">
                            <div class="column-6">Grant Hasley</div>
                            <div class="column-1"><img src="../static/icon/event/goal.png" alt="white-ball"></div>
                        </div>
                        <div class="column-1">7'</div>
                        <div class="column-6 row-container center">
                            <div class="column-1">&nbsp;</div>
                            <div class="column-6">&nbsp;</div>
                        </div>
                    </div>
                    <div class="content-row center">
                        <div class="column-6 row-container center">
                            <div class="column-6">Grant Hasley</div>
                            <div class="column-1"><img src="../static/icon/event/sub.png" alt="green-man"></div>
                        </div>
                        <div class="column-1">39'</div>
                        <div class="column-6 row-container center">
                            <div class="column-1">&nbsp;</div>
                            <div class="column-6">&nbsp;</div>
                        </div>
                    </div>
                    <div class="content-row center">
                        <div class="column-6 row-container center">
                            <div class="column-6">
                                <img src="../static/icon/event/sub-in.png" alt="green-man">
                                Grant Hasley
                                <img src="../static/icon/event/sub-out.png" alt="green-man">
                                Divock Origi
                            </div>
                            <div class="column-1"><img src="../static/icon/event/sub.png" alt="green-man"></div>
                        </div>
                        <div class="column-1">32'</div>
                        <div class="column-6 row-container center">
                            <div class="column-1">&nbsp;</div>
                            <div class="column-6">&nbsp;</div>
                        </div>
                    </div>
                    <div class="content-row center">
                        <div class="column-6 row-container center">
                            <div class="column-6">&nbsp;</div>
                            <div class="column-1">&nbsp;</div>
                        </div>
                        <div class="column-1">32'</div>
                        <div class="column-6 row-container center">
                            <div class="column-1"><img src="../static/icon/event/yellow-card.png" alt="yellow-card"></div>
                            <div class="column-6">
                                <img src="../static/icon/event/sub-in.png" alt="green-man">
                                Grant Hasley
                                <img src="../static/icon/event/sub-out.png" alt="green-man">
                                Divock Origi
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Play Match -->
            <div class="content-data soccer-match">
                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">2 Maximil...</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">5 Gergi...</div> 
                    </div>
                    <div>
                        <div>
                            <img src='../static/icon/event/goal.png'>
                            <img src='../static/icon/event/sub-out.png'>
                        </div>
                        <div class="dark-green-background">27 Divock</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/gree-a.png">
                            <img src="../static/icon/event/yellow-card.png">
                        </div>
                        <div class="dark-green-background">17 Emilli...</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/goal.png">
                        </div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">23 Kenny</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/own-goal.png">
                        </div>
                        <div class="dark-green-background">2 Grant...</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-out.png">
                        </div>
                        <div class="dark-green-background">1 Allison</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">3 Fabinho</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/assist.png">
                            <img src="../static/icon/event/sub-out.png">
                            <img src="../static/icon/event/shot.png">
                            <img src="../static/icon/event/star.png">
                        </div>
                        <div class="dark-green-background">9 Roberto</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/goal.png">
                            <img src="../static/icon/event/sub-out.png">
                        </div>
                        <div class="dark-green-background">22 Temu</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-out.png">
                        </div>
                        <div class="dark-green-background">18 Marco</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">2 Maximil...</div>
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/goal.png">
                        </div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">23 Kenny</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/own-goal.png">
                        </div>
                        <div class="dark-green-background">2 Grant...</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">5 Gergi...</div> 
                    </div>
                    <div>
                        <div>
                            <img src='../static/icon/event/goal.png'>
                            <img src='../static/icon/event/sub-out.png'>
                        </div>
                        <div class="dark-green-background">27 Divock</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/gree-a.png">
                            <img src="../static/icon/event/yellow-card.png">
                        </div>
                        <div class="dark-green-background">17 Emilli...</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">2 Maximil...</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                </div>
            </div>

            <!-- Player Substitution -->
            <div class="content-data soccer-match">
                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-in.png">
                        </div>
                        <div class="dark-green-background">10 Sadio Mane</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">23 Xherdian</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-in.png">
                        </div>
                        <div class="dark-green-background">11 Onel Herna</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">8 Mario Vrandic</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">7 Patrick Roberts</div> 
                    </div>
                </div>

                
                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-in.png">
                        </div>
                        <div class="dark-green-background">10 Sadio Mane</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">23 Xherdian</div>
                    </div>
                    <div>
                        <div class="row-double yellow">Subs.</div>
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-in.png">
                        </div>
                        <div class="dark-green-background">11 Onel Herna</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">8 Mario Vrandic</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">7 Patrick Roberts</div> 
                    </div>
                </div>

                <div class="content-row center row-distribute">
                    <div>
                        <div>&nbsp;</div>
                        <div class="dark-green-background">26 Andrew</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div> 
                    </div>
                    <div>
                        <div>
                            <img src="../static/icon/event/sub-in.png">
                        </div>
                        <div class="dark-green-background">11 Onel Herna</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                </div>
            </div>

            <!-- Legend -->
            <div id='legend' class="gray-background content-data">
                <div>
                    <img src="../static/icon/event/goal.png"> Goal
                </div>
                <div>
                    <img src="../static/icon/event/penalty-goal.png">Penalty Saved
                </div>
                <div>
                    <img src="../static/icon/event/own-goal.png"> Own Goal
                </div>
                <div>
                    <img src="../static/icon/event/assist.png"> Assist
                </div>
                <div>
                    <img src="../static/icon/event/yellow-card.png"> Yellow Card
                </div>
                <div>
                    <img src="../static/icon/event/red-card.png"> Red Card
                </div>
                <div>
                    <img src="../static/icon/event/second-yellow-card.png"> Second Yellow Card
                </div>
                <div>
                    <img src="../static/icon/event/mark.png"> Mark
                </div>
                <div>
                    <img src="../static/icon/event/sub.png"> Sub
                </div>
                <div>
                    <img src="../static/icon/event/sub-in.png"> Sub In
                </div>
                <div>
                    <img src="../static/icon/event/sub-out.png"> Sub Out
                </div>
                <div>
                    <img src="../static/icon/event/penalty-missed.png"> Penalty Missed
                </div>
                <div>
                    <img src="../static/icon/event/penalty-saved.png"> Penalty Saved
                </div>
                <div>
                    <img src="../static/icon/event/shot.png"> Shot on post
                </div>
                <div>
                    <img src="../static/icon/event/star.png"> Man of the match
                </div>
                <div>
                    <img src="../static/icon/event/foul.png"> Foul lead to penalty
                </div>
                <div>
                    <img src="../static/icon/event/error.png"> Error lead to goal
                </div>
                <div>
                    <img src="../static/icon/event/clearance.png"> Clearance off the line
                </div>
                <div>
                    <img src="../static/icon/event/last-man.png"> Last man tackle
                </div>
            </div>

            <!-- Tech Statistics -->
            <div class="content-head">
                Tech Statistics
            </div>
            <div class="content-data">
                <div class="content-row center">
                    <div class="column-6">
                        <span style="width: 33%;" class="dark-orange-background"></span>
                    </div>
                    <div class="column-1">11</div>
                    <div class="column-2">Corner Kicks</div>
                    <div class="column-1">2</div>
                    <div class="column-6">
                        <span style="width: 20%;" class="blue-background"></span>
                    </div>
                </div>
                <div class="content-row center gray-background">
                    <div class="column-6">
                        <span style="width: 62%;" class="dark-orange-background"></span>
                    </div>
                    <div class="column-1">11</div>
                    <div class="column-2">Corner Kicks</div>
                    <div class="column-1">2</div><div class="column-6">
                        <span style="width: 18%;" class="blue-background"></span>
                    </div>
                </div>
            </div>

            <!-- Team Statistics -->
            <div class="content-head">
                Team Statistics
            </div>
            <div class="content-data">
                <div class="content-row center row-distribute gray-background">
                    <div class="orange-background">Recent 3/10 Matches</div>
                    <div>&nbsp;</div>
                    <div class="orange-background">Recent 3/10 Matches</div>
                </div>
                <div class="content-row center row-distribute">
                    <div>1.3/2.2</div>
                    <div>Goal</div>
                    <div>2.3/2</div>
                </div>
                <div class="content-row center row-distribute gray-background">
                    <div>1.3/2.2</div>
                    <div>Loss</div>
                    <div>2.3/2</div>
                </div>
            </div>

            <!-- The Rate of Scored -->
            <div class="content-head">
                The Rate of Scored / Missed <span>Last 30 Matches</span><span>Last 50 Matches</span>
            </div>
            <div class="content-data">
                <div class="content-row center row-distribute orange-background">
                    <div>Home Team Scored</div>
                    <div>Home Team Missed</div>
                    <div>Time of Scored</div>
                    <div>Away Team Scored</div>
                    <div>Away Team Missed</div>
                </div>
                <div class="content-row center row-distribute">
                    <div>13%</div>
                    <div class="red"><b>18%</b></div>
                    <div class="gray-background">1~15</div>
                    <div class="red"><b>27%</b></div>
                    <div>17%</div>
                </div>
                <div class="content-row center row-distribute">
                    <div>12%</div>
                    <div>18%</div>
                    <div>16~30</div>
                    <div>12%</div>
                    <div>13%</div>
                </div>
                <div class="content-row center row-distribute">
                    <div class="red"><b>19%</b></div>
                    <div>18%</div>
                    <div class="gray-background">1~15</div>
                    <div class="red"><b>27%</b></div>
                    <div>17%</div>
                </div>
                <div class="content-row center row-distribute">
                    <div>12%</div>
                    <div class="red"><b>18%</b></div>
                    <div>16~30</div>
                    <div>12%</div>
                    <div>13%</div>
                </div>
            </div>

            <!-- HT/FT Statistics -->
            <div class="content-head">
                HT/FT Statistics (Last 2 Seasons)
            </div>
            <div class="content-data">
                <div class="content-row center orange-background">
                    <div class="column-1 row-double">HT/FT</div>
                    <div class="column-2 row-container">
                        <div>Liverpool(39 Matches)</div>
                        <div class="row-distribute">
                            <div>Home</div>
                            <div>Away</div>
                        </div>
                    </div>
                    <div class="column-2 row-container">
                        <div>Norwich ity(1 Matches)</div>
                        <div class="row-distribute">
                            <div>Home</div>
                            <div>Away</div>
                        </div>
                    </div>
                </div>
                <div class="content-row center row-distribute">
                    <div>HT-W/FT-W</div>
                    <div>18</div>
                    <div>15</div>
                    <div>27</div>
                    <div>17</div>
                </div>
                <div class="content-row center row-distribute light-red-background">
                    <div>HT-W/FT-W</div>
                    <div>18</div>
                    <div>15</div>
                    <div>27</div>
                    <div>17</div>
                </div>
                <div class="content-row center row-distribute">
                        <div>HT-W/FT-W</div>
                        <div>18</div>
                        <div>15</div>
                        <div>27</div>
                        <div>17</div>
                </div>
            </div>

            <!-- Total Goal/Loss -->
            <div class="content-head">
                Total Goal/Loss (Last 2 Seasons)
            </div>
            <div class="content-data">
                <div class="content-row center">
                    <div class="column-4 row-container">
                        <div class="row-distribute orange-background">
                            <div>3+ Goals</div>
                            <div>2 Goals</div>
                            <div>1 Goals</div>
                            <div>0 Goals</div>
                        </div>
                        <div class="row-distribute">
                            <div>29%</div>
                            <div>23%</div>
                            <div>29%</div>
                            <div>20%</div>
                        </div>
                    </div>
                    <div class="column-2 row-double gray-background">
                        Total Goals in last 2 seasons
                    </div>
                    <div class="column-4 row-container">
                        <div class="row-distribute orange-background">
                            <div>0 Goals</div>
                            <div>1 Goals</div>
                            <div>2 Goals</div>
                            <div>3+ Goals</div>
                        </div>
                        <div class="row-distribute">
                            <div>29%</div>
                            <div>23%</div>
                            <div>29%</div>
                            <div>20%</div>
                        </div>
                    </div>
                </div>
                <div class="content-row center">
                    <div class="column-4">T34'H34'A36'</div>
                    <div class="column-2">Average time of first goal</div>
                    <div class="column-4">T34'H34'A36'</div>
                </div>
                <div class="content-row center gray-background">
                    <div class="column-4">T34'H34'A36'</div>
                    <div class="column-2">Average time of final goal</div>
                    <div class="column-4">T34'H34'A36'</div>
                </div>
            </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>