<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="live-comment">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div class="content-top">
                <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                <div class="center">
                    <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                    <div class="center">
                        <span><b class="blue">Liverpool</b></span>
                        <span class="number"><b class="red">4</b></span>
                        <span class="column">
                            <span><b class="red">Finished</b></span>
                            <span class="red">(4-0,0-1)</span>
                        </span>
                        <span class="number"><b class="red">1</b></span>
                        <span><b class="blue">Norwich City</b></span>
                    </div>
                    <div>
                        Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                    </div>
                </div>
                <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
            </div>
            <div class="content-nav">
                <a href="detail.html">Detail</a>
                <a href="analysis.html">Analysis</a>
                <a href="odds-comp.html">Odds Comp</a>
                <a href="3in1.html">3in1 Odds</a>
                <a href="1x2.html">1x2 Odds</a>
                <a href="referee.html">Referee</a>
                <a href="coach.html">Coach</a>
                <a href="live-commentary.html" class="current">Live Commentary</a>
                <a href="player-stats.html">Player Stats</a>
            </div>

            <!-- Live Detail -->
            <div class="content-head">
                Live Detail
            </div>
            <div class="section">
                <h1 class="center blue">English Premier League Liverpool-Norwich City</h1>
                <p>    Lineups are announced and players are warming up.</p>
                <p>    First Half begins.</p>
                <p>3'  Corner, Liverpool. Conceded by Ben Godfrey.</p>
                <p>5'  Attempt missed. Marco Stiepermann (Norwich City) left footed shot from the left side of the box.</p>
                <p>7'  Own Goal by Grant Hanley, Norwich City. Liverpool 1, Norwich City 0.</p>
                <p>10'  Attempt missed. Marco Stiepermann (Norwich City) left footed shot from the left side of the box following a fast break.</p>
                <p>11'  Foul by Kenny McLean (Norwich City).</p>
                <p>11'  Georginio Wijnaldum (Liverpool) wins a free kick in the attacking half.</p>
                <p>15'  Attempt blocked. Teemu Pukki (Norwich City) left footed shot from the left side of the box is blocked. Assisted by Jamal Lewis with a through ball.</p>
                <p>16'  Attempt missed. Andrew Robertson (Liverpool) left footed shot from the left side of the box.</p>
                <p>17'  Emiliano Buendía (Norwich City) wins a free kick in the defensive half.</p>
                <p>17'  Foul by Fabinho (Liverpool).</p>
                <p>19'  Goal! Liverpool 2, Norwich City 0. Mohamed Salah (Liverpool) left footed shot from the centre of the box.</p>
                <p>22'  Offside, Norwich City. Emiliano Buendía tries a through ball, but Teemu Pukki is caught offside.</p>
                <p>23'  Foul by Trent Alexander-Arnold (Liverpool).</p>
                <p>23'  Todd Cantwell (Norwich City) wins a free kick on the left wing.</p>
                <p>25'  Attempt saved. Emiliano Buendía (Norwich City) left footed shot from outside the box is saved.</p>
                <p>26'  Attempt saved. Marco Stiepermann (Norwich City) left footed shot from outside the box is saved in the centre of the goal. Assisted by Emiliano Buendía.</p>
                <p>28'  Corner, Liverpool. Conceded by Tom Trybull.</p>
                <p>28'  Goal! Liverpool 3, Norwich City 0. Virgil van Dijk (Liverpool) header from the centre of the box following a corner.</p>
                <p>28'  Goal! Liverpool 3, Norwich City 0. Virgil van Dijk (Liverpool) header from the centre of the box to the centre of the goal. Assisted by Mohamed Salah with a cross following a corner.</p>
                <p>31'  Attempt saved. Roberto Firmino (Liverpool) left footed shot from the centre of the box is saved in the centre of the goal. Assisted by Trent Alexander-Arnold with a cross.</p>
                <p>34'  Fabinho (Liverpool) wins a free kick on the right wing.</p>
                <p>34'  Foul by Tom Trybull (Norwich City).</p>
                <p>34'  Corner, Liverpool. Conceded by Tim Krul.</p>
                <p>35'  Corner, Norwich City. Conceded by Virgil van Dijk.</p>
                <p>35'  Attempt missed. Tom Trybull (Norwich City) header from the centre of the box is close, but misses to the right. Assisted by Emiliano Buendía with a cross following a corner.</p>
                <p>36'  Delay in match because of an injury Alisson (Liverpool).</p>
                <p>39'  Delay over. They are ready to continue.</p>
                <p>39'  Substitution, Liverpool. Adrián replaces Alisson because of an injury.</p>
                <p>40'  Divock Origi (Liverpool) wins a free kick in the attacking half.</p>
                <p>40'  Foul by Tom Trybull (Norwich City).</p>
                <p>42'  Goal! Liverpool 4, Norwich City 0. Divock Origi (Liverpool) header from the centre of the box to the centre of the goal. Assisted by Trent Alexander-Arnold.</p>
                <p>43'  Corner, Liverpool. Conceded by Marco Stiepermann.</p>
                <p>45'  Corner, Liverpool. Conceded by Max Aarons.</p>
                <p>45'+2'  Attempt blocked. Roberto Firmino (Liverpool) left footed shot from the left side of the box is blocked. Assisted by Andrew Robertson.</p>
                <p>45'+2'  Delay in match because of an injury Max Aarons (Norwich City).</p>
                <p>45'+3'  Delay over. They are ready to continue.</p>
                <p>45'+4'  First Half ends, Liverpool 4, Norwich City 0.</p>
                <p>45'  Second Half begins Liverpool 4, Norwich City 0.</p>
                <p>48'  Attempt saved. Jordan Henderson (Liverpool) right footed shot from the centre of the box is saved.</p>
                <p>48'  Roberto Firmino (Liverpool) hits the left post with a left footed shot from the left side of the six yard box. Assisted by Trent Alexander-Arnold.</p>
                <p>49'  Foul by Georginio Wijnaldum (Liverpool).</p>
                <p>49'  Tom Trybull (Norwich City) wins a free kick in the defensive half.</p>
                <p>49'  Foul by Jordan Henderson (Liverpool).</p>
                <p>49'  Kenny McLean (Norwich City) wins a free kick in the defensive half.</p>
                <p>50'  Foul by Joseph Gomez (Liverpool).</p>
                <p>50'  Marco Stiepermann (Norwich City) wins a free kick on the left wing.</p>
                <p>51'  Offside, Norwich City. Emiliano Buendía tries a through ball, but Tom Trybull is caught offside.</p>
                <p>51'  Offside, Norwich City. Jamal Lewis tries a through ball, but Todd Cantwell is caught offside.</p>
                <p>52'  Corner, Liverpool. Conceded by Jamal Lewis.</p>
                <p>54'  Attempt missed. Mohamed Salah (Liverpool) left footed shot from the right side of the box is close, but misses to the left. Assisted by Fabinho.</p>
                <p>55'  Attempt blocked. Jordan Henderson (Liverpool) right footed shot from the centre of the box is blocked. Assisted by Mohamed Salah.</p>
                <p>55'  Attempt saved. Fabinho (Liverpool) right footed shot from outside the box is saved in the bottom right corner.</p>
                <p>57'  Foul by Tom Trybull (Norwich City).</p>
                <p>57'  Jordan Henderson (Liverpool) wins a free kick in the attacking half.</p>
                <p>58'  Attempt missed. Andrew Robertson (Liverpool) left footed shot from outside the box misses to the right following a set piece situation.</p>
                <p>58'  Substitution, Norwich City. Moritz Leitner replaces Marco Stiepermann.</p>
                <p>60'  Foul by Moritz Leitner (Norwich City).</p>
                <p>60'  Jordan Henderson (Liverpool) wins a free kick on the right wing.</p>
                <p>60'  Moritz Leitner (Norwich City) is shown the yellow card for a bad foul.</p>
                <p>62'  Moritz Leitner (Norwich City) hits the woodwork with a right footed shot from the right side of the box.</p>
                <p>64'  Goal! Liverpool 4, Norwich City 1. Teemu Pukki (Norwich City) right footed shot from the centre of the box.</p>
                <p>65'  Divock Origi (Liverpool) wins a free kick on the left wing.</p>
                <p>65'  Foul by Max Aarons (Norwich City).</p>
                <p>65'  Foul by Jordan Henderson (Liverpool).</p>
                <p>65'  Todd Cantwell (Norwich City) wins a free kick in the defensive half.</p>
                <p>68'  Mohamed Salah (Liverpool) wins a free kick on the right wing.</p>
                <p>68'  Foul by Moritz Leitner (Norwich City).</p>
                <p>70'  Substitution, Norwich City. Onel Hernández replaces Tom Trybull.</p>
                <p>71'  Attempt blocked. Roberto Firmino (Liverpool) right footed shot from the centre of the box is blocked. Assisted by Mohamed Salah.</p>
                <p>71'  Corner, Liverpool. Conceded by Grant Hanley.</p>
                <p>72'  Corner, Liverpool. Conceded by Max Aarons.</p>
                <p>73'  Attempt missed. Trent Alexander-Arnold (Liverpool) right footed shot from outside the box is too high. Assisted by Joseph Gomez.</p>
                <p>74'  Substitution, Liverpool. Sadio Mané replaces Divock Origi.</p>
                <p>75'  Foul by Max Aarons (Norwich City).</p>
                <p>75'  Georginio Wijnaldum (Liverpool) wins a free kick in the defensive half.</p>
                <p>76'  Corner, Liverpool. Conceded by Ben Godfrey.</p>
                <p>79'  Attempt saved. Onel Hernández (Norwich City) right footed shot from the centre of the box is saved.</p>
                <p>79'  Offside, Norwich City. Moritz Leitner tries a through ball, but Onel Hernández is caught offside.</p>
                <p>79'  Foul by Joseph Gomez (Liverpool).</p>
                <p>79'  Teemu Pukki (Norwich City) wins a free kick in the attacking half.</p>
                <p>80'  Attempt saved. Emiliano Buendía (Norwich City) right footed shot from outside the box is saved.</p>
                <p>81'  Corner, Liverpool. Conceded by Max Aarons.</p>
                <p>83'  Substitution, Norwich City. Josip Drmic replaces Teemu Pukki.</p>
                <p>83'  Foul by Grant Hanley (Norwich City).</p>
                <p>83'  Roberto Firmino (Liverpool) wins a free kick in the attacking half.</p>
                <p>85'  Attempt saved. Trent Alexander-Arnold (Liverpool) right footed shot from outside the box is saved in the top right corner.</p>
                <p>85'  Corner, Liverpool. Conceded by Tim Krul.</p>
                <p>86'  Substitution, Liverpool. James Milner replaces Roberto Firmino.</p>
                <p>86'  Delay over. They are ready to continue.</p>
                <p>88'  Corner, Norwich City. Conceded by Trent Alexander-Arnold.</p>
                <p>88'  Offside, Norwich City. Todd Cantwell tries a through ball, but Onel Hernández is caught offside.</p>
                <p>90'  Foul by Mohamed Salah (Liverpool).</p>
                <p>90'  Moritz Leitner (Norwich City) wins a free kick in the defensive half.</p>
                <p>90'  Foul by Georginio Wijnaldum (Liverpool).</p>
                <p>90'  Todd Cantwell (Norwich City) wins a free kick in the defensive half.</p>
                <p>90'+1'  Attempt saved. Ben Godfrey (Norwich City) right footed shot from outside the box is saved in the bottom left corner. Assisted by Jamal Lewis.</p>
                <p>90'+1'  Attempt missed. Onel Hernández (Norwich City) left footed shot from a difficult angle on the left misses to the right.</p>
                <p>90'+3'  Second Half ends, Liverpool 4, Norwich City 1.</p>
                <p>Match ends, Liverpool 4, Norwich City 1.    </p>
            </div>
            
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>