<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="odds-comp">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div>
                <div class="content-top">
                    <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                    <div class="center">
                        <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                        <div class="center">
                            <span><b class="blue">Liverpool</b></span>
                            <span class="number"><b class="red">4</b></span>
                            <span class="column">
                                <span><b class="red">Finished</b></span>
                                <span class="red">(4-0,0-1)</span>
                            </span>
                            <span class="number"><b class="red">1</b></span>
                            <span><b class="blue">Norwich City</b></span>
                        </div>
                        <div>
                            Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                        </div>
                    </div>
                    <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
                </div>
                <div class="content-nav">
                    <a href="detail.html">Detail</a>
                    <a href="analysis.html">Analysis</a>
                    <a href="odds-comp.html" class="current">Odds Comp</a>
                    <a href="3in1.html">3in1 Odds</a>
                    <a href="1x2.html">1x2 Odds</a>
                    <a href="referee.html">Referee</a>
                    <a href="coach.html">Coach</a>
                    <a href="live-commentary.html">Live Commentary</a>
                    <a href="player-stats.html">Player Stats</a>
                </div>

                <div class="content-data">
                    <div class="content-row center odds-light-blue-background">
                        <div class="column-2 row-double">
                            <b>Company</b>
                        </div>
                        <div class="column-3 row-container">
                            <div><b>1x2 Odds</b></div>
                            <div class="row-distribute">
                                <div>HW</div>
                                <div>D</div>
                                <div>AW</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div><b>Handicap Odds</b></div>
                            <div class="row-distribute">
                                <div>Home</div>
                                <div>Odds</div>
                                <div>Away</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div><b>Over/Under Odds</b></div>
                            <div class="row-distribute">
                                <div>Over</div>
                                <div>Odds</div>
                                <div>Under</div>
                            </div>
                        </div>
                        <div class="column-2 row-double">
                            <b>Data</b>
                        </div>
                    </div>
                    <div class="content-row center">
                        <div class="row-double column-2">Sbobet <font class="red">Live</font></div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div class="down">8.25</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div>5.60</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div>5.60</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="row-double column-2">
                            <a>Running</a>
                            <a>Stats</a>
                        </div>
                    </div>
                    <div class="content-row center gray-background">
                        <div class="row-double column-2">Sbobet <font class="red">Live</font></div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div class="down">8.25</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div>5.60</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="column-3 row-container">
                            <div class="row-distribute">
                                <div class="no-border-bottom">1.15</div>
                                <div class="no-border-bottom">5.60</div>
                                <div class="no-border-bottom">19.00</div>
                            </div>
                            <div class="row-distribute">
                                <div class="up">1.14</div>
                                <div>5.60</div>
                                <div class="down">20.00</div>
                            </div>
                        </div>
                        <div class="row-double column-2">
                            <a>Running</a>
                            <a>Stats</a>
                        </div>
                    </div>
                    <div class="content-row row-container center">
                        <img src="../static/over-under/down.png">
                        : Odds rate increases
                        <img src="../static/over-under/up.png">
                        : Odds rate decreases    
                        Update time: 2019-10-28 22:15:42
                    </div>
                </div>

                <div class="content-nav">
                    <a class="current">Handicap Odds</a>
                    <a>Over/Under Odds</a>
                </div>

                <div class="content-data">
                    <div class="content-row row-distribute center odds-light-blue-background">
                        <div>Sbobet</div>
                        <div>Macauslot</div>
                        <div>Crown</div>
                        <div>Ladbrokes</div>
                        <div>188bet</div>
                        <div>Bet365</div>
                        <div>Easybet</div>
                        <div>Vcbet</div>
                        <div>M88</div>
                        <div>12BET</div>
                        <div>18Bet</div>
                        <div>Update time</div>
                    </div>

                    <div class="content-row row-distribute center">
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="light-blue-background">
                            <div class="blue no-border-bottom">5.5</div>
                            <div>
                                <font color="red">10.00</font> 0.02
                            </div>
                        </div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">08-10 03:54</div>
                    </div>

                    <div class="content-row row-distribute center">
                        <div class="row-double">&nbsp;</div>
                        <div class="light-blue-background">
                            <div class="blue no-border-bottom">5.5</div>
                            <div>
                                <font color="red">10.00</font> 0.02
                            </div>
                        </div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">&nbsp;</div>
                        <div class="row-double">08-10 03:54</div>
                    </div>

                    <div class="content-row no-border-bottom center">
                        Background-color: 
                        <span class="blue-background"></span> Early 
                        <span class="orange-background"></span> Live 
                        <span class="odds-light-blue-background"></span> Running ball (Live Betting)
                    </div>

                </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>