<!DOCTYPE html>
<html>
    <head>
        <title>Football/Soccer Match Livescore | Fixtures | Results</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Football/Soccer Match Livescore | Fixtures | Results" data-rdm="true">
        <link rel="icon" type="image/ico" href="favicon.ico" />

        <!-- Vendor -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body id="player-stats">
        <section>
            <header>
                <div class="header-top">
                    <h1>NOWGOAL.COM</h1>
                    Match Livescore | Fixtures | Results
                </div>
                <div class="header-link">
                    <a>Tips</a>
                    <a class="current">Soccer</a>
                    <a>Basketball</a>
                    <a>Tennis</a>
                    <a>Football</a>
                    <a>Hockey</a>
                    <a>Snooker</a>
                    <a>Free App</a>
                    <a class="yellow">Mobile</a>
                </div>
                <div class="header-bottom dark-red-hover">
                    <a>Livescore</a> |
                    <a>Odds Comparison</a> |
                    <a>Over/Under</a> |
                    <a>6in1 Odds</a> |
                    <a>Results</a> |
                    <a>Fixtures</a> |
                    <a>Standings</a> |
                    <a>Database</a> |
                </div>
            </header>
            <div>
                <div class="content-top">
                    <img src='../static/logo/soccer/liverpool.png' alt='liverpool'>
                    <div class="center">
                        <div><b class="red">English Premier League</b> 8/10/2019 02:00 Saturday </div>
                        <div class="center">
                            <span><b class="blue">Liverpool</b></span>
                            <span class="number"><b class="red">4</b></span>
                            <span class="column">
                                <span><b class="red">Finished</b></span>
                                <span class="red">(4-0,0-1)</span>
                            </span>
                            <span class="number"><b class="red">1</b></span>
                            <span><b class="blue">Norwich City</b></span>
                        </div>
                        <div>
                            Venues: Anfield stadium Weather: Thundershower Temperature: 17℃ 18℃
                        </div>
                    </div>
                    <img src='../static/logo/soccer/norwich-city.png' alt='norwich-city'>
                </div>
                <div class="content-nav">
                    <a href="detail.html">Detail</a>
                    <a href="analysis.html">Analysis</a>
                    <a href="odds-comp.html">Odds Comp</a>
                    <a href="3in1.html">3in1 Odds</a>
                    <a href="1x2.html">1x2 Odds</a>
                    <a href="referee.html">Referee</a>
                    <a href="coach.html">Coach</a>
                    <a href="live-commentary.html">Live Commentary</a>
                    <a href="player-stats.html" class="current">Player Stats</a>
                </div>
                
                <!-- Liverpool -->
                <div class="content-head">
                    Liverpool
                    <div>
                        <span class="orange-background">Summary</span>
                        <span>Offensive</span>
                        <span>Defensive</span>
                        <span>Passing</span>
                    </div>
                </div>
                <div class="content-data">
                    <div class="content-row center odds-light-blue-background">
                        <div class="column-1 row-double">Num</div>
                        <div class="column-4 row-double">Player</div>
                        <div class="column-3 row-double">Position</div>
                        <div class="column-1 row-double">Shots</div>
                        <div class="column-2 row-double">ShotsOT</div>
                        <div class="column-1-5">Key Passes</div>
                        <div class="column-1-5">Break Loose</div>
                        <div class="column-1-5 row-double">Passes</div>
                        <div class="column-1-5">Pass Success</div>
                        <div class="column-1 row-double">PA%</div>
                        <div class="column-1-5 row-double">Crosses</div>
                        <div class="column-1-5">Head-Succes</div>
                        <div class="column-1 row-double">Touch</div>
                        <div class="column-1 row-double">Rating</div>
                        <div class="column-2 row-double">Key Events</div>
                    </div>
                    <div class="content-row center">
                        <div class="column-1">1</div>
                        <div class="column-4">Allison Becker <img src="../static/icon/event/sub-out.png"><font color="gray">39'</font></div>
                        <div class="column-3">Goalkeeper</div>
                        <div class="column-1">0</div>
                        <div class="column-2">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">11</div>
                        <div class="column-1-5">9</div>
                        <div class="column-1">81%</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1">14</div>
                        <div class="column-1">6.81</div>
                        <div class="column-2">&nbsp;</div>
                    </div>
                    <div class="content-row center gray-background">
                        <div class="column-1">1</div>
                        <div class="column-4">Allison Becker <img src="../static/icon/event/sub-out.png"><font color="gray">39'</font></div>
                        <div class="column-3">Goalkeeper</div>
                        <div class="column-1">0</div>
                        <div class="column-2">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">11</div>
                        <div class="column-1-5">9</div>
                        <div class="column-1">81%</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1">14</div>
                        <div class="column-1">6.81</div>
                        <div class="column-2">
                            <img src="../static/icon/event/goal.png">
                            <img src="../static/icon/event/assist.png">
                        </div>
                    </div>
                </div>

                <div class="content-nav">
                    <a class="current">Handicap Odds</a>
                    <a>Over/Under Odds</a>
                </div>
                
                <!-- Norwich City -->
                <div class="content-head">
                    Norwich City
                    <div>
                        <span class="orange-background">Summary</span>
                        <span>Offensive</span>
                        <span>Defensive</span>
                        <span>Passing</span>
                    </div>
                </div>
                <div class="content-data">
                    <div class="content-row center odds-light-blue-background">
                        <div class="column-1 row-double">Num</div>
                        <div class="column-4 row-double">Player</div>
                        <div class="column-3 row-double">Position</div>
                        <div class="column-1 row-double">Shots</div>
                        <div class="column-2 row-double">ShotsOT</div>
                        <div class="column-1-5">Key Passes</div>
                        <div class="column-1-5">Break Loose</div>
                        <div class="column-1-5 row-double">Passes</div>
                        <div class="column-1-5">Pass Success</div>
                        <div class="column-1 row-double">PA%</div>
                        <div class="column-1-5 row-double">Crosses</div>
                        <div class="column-1-5">Head-Succes</div>
                        <div class="column-1 row-double">Touch</div>
                        <div class="column-1 row-double">Rating</div>
                        <div class="column-2 row-double">Key Events</div>
                    </div>
                    <div class="content-row center">
                        <div class="column-1">1</div>
                        <div class="column-4">Allison Becker <img src="../static/icon/event/sub-out.png"><font color="gray">39'</font></div>
                        <div class="column-3">Goalkeeper</div>
                        <div class="column-1">0</div>
                        <div class="column-2">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">11</div>
                        <div class="column-1-5">9</div>
                        <div class="column-1">81%</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1">14</div>
                        <div class="column-1">6.81</div>
                        <div class="column-2">&nbsp;</div>
                    </div>
                    <div class="content-row center gray-background">
                        <div class="column-1">1</div>
                        <div class="column-4">Allison Becker <img src="../static/icon/event/sub-out.png"><font color="gray">39'</font></div>
                        <div class="column-3">Goalkeeper</div>
                        <div class="column-1">0</div>
                        <div class="column-2">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">11</div>
                        <div class="column-1-5">9</div>
                        <div class="column-1">81%</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1-5">0</div>
                        <div class="column-1">14</div>
                        <div class="column-1">6.81</div>
                        <div class="column-2">
                            <img src="../static/icon/event/goal.png">
                            <img src="../static/icon/event/assist.png">
                        </div>
                    </div>
                </div>
                
                <!-- Legend -->
                <div id='legend' class="gray-background content-data">
                    <div>
                        <img src="../static/icon/event/goal.png"> Goal
                    </div>
                    <div>
                        <img src="../static/icon/event/penalty-goal.png">Penalty Saved
                    </div>
                    <div>
                        <img src="../static/icon/event/own-goal.png"> Own Goal
                    </div>
                    <div>
                        <img src="../static/icon/event/assist.png"> Assist
                    </div>
                    <div>
                        <img src="../static/icon/event/yellow-card.png"> Yellow Card
                    </div>
                    <div>
                        <img src="../static/icon/event/red-card.png"> Red Card
                    </div>
                    <div>
                        <img src="../static/icon/event/second-yellow-card.png"> Second Yellow Card
                    </div>
                    <div>
                        <img src="../static/icon/event/mark.png"> Mark
                    </div>
                    <div>
                        <img src="../static/icon/event/sub.png"> Sub
                    </div>
                    <div>
                        <img src="../static/icon/event/sub-in.png"> Sub In
                    </div>
                    <div>
                        <img src="../static/icon/event/sub-out.png"> Sub Out
                    </div>
                    <div>
                        <img src="../static/icon/event/penalty-missed.png"> Penalty Missed
                    </div>
                    <div>
                        <img src="../static/icon/event/penalty-saved.png"> Penalty Saved
                    </div>
                    <div>
                        <img src="../static/icon/event/shot.png"> Shot on post
                    </div>
                    <div>
                        <img src="../static/icon/event/star.png"> Man of the match
                    </div>
                    <div>
                        <img src="../static/icon/event/foul.png"> Foul lead to penalty
                    </div>
                    <div>
                        <img src="../static/icon/event/error.png"> Error lead to goal
                    </div>
                    <div>
                        <img src="../static/icon/event/clearance.png"> Clearance off the line
                    </div>
                    <div>
                        <img src="../static/icon/event/last-man.png"> Last man tackle
                    </div>
                </div>
            </div>
        </section>
        <!-- Script -->
        <script src="../js/script.js"></script>
        <script src="../js/jquery.min.js"></script>
    </body>
</html>